<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
<meta charset="utf-8"/>
<title th:text="#{common.app.music_player}"></title>
<meta name="keywords" content="Music" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
<!-- <link rel="stylesheet" type="text/css" th:href="@{/plugins/jPlayer/blue.monday/css/jplayer.blue.monday.min.css}" /> -->
<link rel="stylesheet" type="text/css" th:href="@{/css/nifty.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/plugins/websocket/sockjs.min.js}"></script>
<script th:src="@{/plugins/websocket/stomp.min.js}"></script>
<script th:src="@{/plugins/jPlayer/jquery.jplayer.min.js}"></script>
<script th:src="@{/plugins/jPlayer/jplayer.playlist.js}"></script>
<script th:src="@{/js/upmusic.js}"></script>
<script src='https://connect.facebook.net/ko_KR/all.js'></script>
</head>

<body class="playerBody">
	<div id="mainContent">
		<div layout:fragment="content"></div>
	</div>
	
	<div th:replace="fragments/common/modal_share :: modal_share"></div>
	<div th:replace="fragments/common/modal_share_upmusic_mobile :: modal_share_upmusic_mobile"></div>
	<div th:replace="fragments/common/modal_collection_list :: modal_collection_list"></div>
	<div th:replace="fragments/common/modal_reward :: modal_reward"></div>
	<div th:replace="fragments/common/modal_message :: modal_message"></div>
	<div th:replace="fragments/common/modal_final_message :: modal_final_message"></div>

	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
		var msgUserAfterLogin = /*[[ #{common.request.auth} ]]*/;
		var msgAddedToCollection = /*[[ #{common.track.added_to_collection} ]]*/;
		var msgSelectItem = /*[[ #{common.select_item} ]]*/;
	/*]]>*/
	</script>
	
	<div sec:authorize="isAnonymous()">
		<script th:src="@{/js/upmusic_common_guest.js}"></script>
	</div>
	
	<div sec:authorize="isAuthenticated()">
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
			var headers = { /*[[ ${_csrf.headerName} ]] : [[ ${_csrf.token} ]]*/ };
		/*]]>*/
		</script>
		<script th:src="@{/js/upmusic_common_member.js}" th:inline="javascript"></script>
	</div>
	
	<script th:src="@{/js/upm_player.js}"></script>
</body>

</html>