<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>
	<dl th:fragment="list_video(fragmentId, videoList, paginationUrl)" th:id="${fragmentId}" th:remove="tag">
		<dd th:each="video, iter : ${videoList}" th:id="${video.id}">
			<div class="video"><img th:onclick="@{${'UPMusic.goto(&quot;' + video.getUrl() + '&quot;)'}}" th:src="${video.getThumbnailUrl()}" alt="" /><span class="time" th:text="${video.formattedDuration()}"></span></div>
			<div class="info">
				<div class="checkbox pull-right mt8">
					<input th:id="@{${'checkbox_video_' + video.id}}" class="checkbox-checked" type="checkbox" th:value="${video.id}"/>
					<label th:for="@{${'checkbox_video_' + video.id}}"><span class="checkbox-custom"></span></label>
				</div>
				<p class="subject clamp1"><a th:href="@{${video.getUrl()}}"><span th:text="${video.getSubject()}" th:remove="tag"></span></a></p>
				<p class="atist clamp1"><a th:href="@{${video.getArtistUrl()}}"><span th:text="${video.getArtistNick()}" th:remove="tag"></span></a></p>
				<p class="date"><span th:text="${video.formattedTime()}" th:remove="tag"></span></p>
			</div>
		</dd>
	</dl>
</body>

</html>