<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>
	<dl th:fragment="list_album(fragmentId, albumList, paginationUrl)" th:id="${fragmentId}" th:remove="tag">
		<dd th:each="album,iter : ${albumList}">
			<div class="img">
				<a th:href="@{${album.getUrl()}}">
					<img th:src="@{${album.getCoverImageUrl()}}" src="${album.getCoverImageUrl()}" title="cover" class="img-responsive"/>
				</a>
			</div>
			<div class="info">
				<p class="abtitle"><a th:href="@{${album.getUrl()}}"><span th:text="${album.subject}" th:remove="tag"></span></a></p>
				<p class="atist"><a th:href="@{${album.getArtistUrl()}}"><span th:text="${album.getArtistNick()}" th:remove="tag"></span></a></p>
				<p class="btn_more"  th:onclick="@{${'UPMAlbumMenuModal.showModal(' + album.getId() + ', &quot;' + album.getSubject() + '&quot;, &quot;' + album.getArtistNick() + '&quot;, &quot;' + album.getArtistUrl() + '&quot;, &quot;' + album.getUrl() + '&quot;, event);'}}"></p>
			</div>
		</dd>
	</dl>
</body>

</html>