<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
</head>

<body>
	<div th:fragment="modal_collection_list">
		<div class="modal fade" id="modal-collection-list" tabindex="-1" role="dialog" aria-labelledby="UPM My Collections" aria-hidden="true">
			<div class="modal-dialog login_pop modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header login_header">
	                    <h2 class="modal_title" th:text="#{button.add.collection}">Add to my collection</h2>
						<img th:src="@{/img/close.png}" class="close" alt="" data-dismiss="modal" />
	                </div>
					<div id="collection-list-modal-body" class="modal-body login_body">
						<div class="login_body1">
							<div class="mylist_content">
							</div>
							<div class="login_btn upload_btn mt10">
								<button class="btn btn-custom3 h50 w100p" type="button" onclick="UPMCollectioNewModal.showCollectionNewModal(true);">
									<span th:text="#{button.collection.new}" th:remove="tag">Create collection</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div th:replace="fragments/common/modal_collection_new"></div>
		
	</div>
</body>

</html>