<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>
	<div th:fragment="list_vocal_casting(castingFragmentId, castingList, castingPaginationUrl)" th:id="${castingFragmentId}">
		<div class="casting_list_wrap">
			<ul>
				<li th:each="casting, iter : ${castingList}" th:id="${casting.id}">
					<div class="casting_contentwrap">
						<div class="castingcont_left pointer" th:onclick="@{${'UPMusic.goto(&quot;/music/vocal_casting/' + casting.id + '&quot;, event);'}}">
							<h3 class="list-title"><span th:text="${casting.subject}" th:remove="tag"></span> <i th:if="${casting.newItem}"><img th:src="@{/img/new.png}" alt="" /></i></h3>
							<ul class="hits_wrap fl mb5">
								<li th:onclick="@{${'UPMusic.goto(&quot;' + casting.getMember().getUrl() + '&quot;, event);'}}" th:text="${casting.getMember().getNick()}"></li>
								<li th:text="${casting.formattedTime()}"></li>
								<li><span th:text="#{common.hits_cnt}" th:remove="tag"></span> <span th:text="${casting.hitCnt}" th:remove="tag"></span></li>
							</ul>
						</div>
						<div class="castingcont_right">
							<div class="comment_info"><i class="newicon"><img th:src="@{/img/comment_icon.png}" alt="" /></i><span th:text="#{model.comment}" th:remove="tag"></span> <span><span th:text="${casting.commentCnt}" th:remove="tag"></span><span th:text="#{common.count.collectedTrack}" th:remove="tag"></span></span></div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div th:if="${castingList != null and castingList.totalPages gt 0}" class="panel-body text-center">
		    <ul class="pagination">
		        <li th:class="${castingList.number eq 0} ? 'disabled' : ''">
		            <a class="demo-pli-arrow-left" th:if="${not castingList.first}" th:onclick="@{${'UPMusic.loadPage(&quot;' + castingsFragmentId + '&quot;, &quot;' + castingPaginationUrl + '&quot;, ' + (castingList.number-1) + ');'}}"></a>
		            <a class="demo-pli-arrow-left" th:if="${castingList.first}" href="javascript:void(0);"></a>
		        </li>
		
		        <li th:each="pageNo : ${#numbers.sequence(0, castingList.totalPages - 1)}" th:class="${castingList.number eq pageNo}? 'active' : ''">
		            <a th:if="${castingList.number eq pageNo}" href="javascript:void(0);">
		                <span th:text="${pageNo + 1}"></span>
		            </a>
		            <a th:if="${not (castingList.number eq pageNo)}" th:onclick="@{${'UPMusic.loadPage(&quot;' + castingsFragmentId + '&quot;, &quot;' + castingPaginationUrl + '&quot;, ' + pageNo + ');'}}">
		                <span th:text="${pageNo + 1}"></span>
		            </a>
		
		        </li>
		        <li th:class="${castingList.number + 1 ge castingList.totalPages} ? 'disabled' : ''">
		            <a class="demo-pli-arrow-right" th:if="${not castingList.last}" th:onclick="@{${'UPMusic.loadPage(&quot;' + castingsFragmentId + '&quot;, &quot;' + castingPaginationUrl + '&quot;, ' + (castingList.number+1) + ');'}}"></a>
		            <a class="demo-pli-arrow-right" th:if="${castingList.last}" href="javascript:void(0);"></a>
		        </li>
		    </ul>
		</div>
		
	</div>
</body>

</html>