<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/admin_layout}">

<head>
</head>

<body>

	<div layout:fragment="content">
		<div class="content">
			<div class="subpage_wrap">
			<div class="production_section1 section">
				<h2 class="page-title fl">이벤트</h2>
				<a th:href="@{/admin/upm_news/event/eventInsertForm}"><button class="btn btn-custom2 fr"><i><img src="img/add-event.png" alt="" /></i> 이벤트 등록</button></a>
				<!-- <button class="btn btn-custom2 fr"><i><img src="img/add-event.png" alt="" /></i> 이벤트 배너 등록</button> -->
				<div class="tab_design clear">
					<ul>
						<li>진행중인 이벤트
							<div class="tab_line tab_line"></div>
						</li>
						<li id="endEventLi">지난 이벤트</li>
					</ul>
				</div>
				<div class="tab_contentwrap">
					<div class="tab_content active">
						<div class="artist_list clear">
							<div class="producing_listhead">
								<p class="content_title2 fl">이벤트</p>
							</div>
							<div class="producing_list  musicvideo_list event_list clear">
								<ul class="producing_contnet">
									<li th:each="event : ${eventList.content}">
										<a th:href="@{${event.getAdminDetailURL()}}">
										<div class="producing_profile event_profile" th:style="'background:url(' +@{${event.getImgUrl()}}+') center center no-repeat;'">
											<!-- <img alt="" th:src="${event.getImgUrl()}"> -->
										</div>
										<div class="producing_info event_info">
											<div class="producing_infowrap">
												<h3 class="event_title" th:text="${event.subject}"></h3>
												<p class="event_subtitle" th:text="${event.getEventExpiryDate()}"></p>
												<!-- <p class="event_introduce mt10" th:text="${event.content}"></p> -->
												<div class="Dday_icon" th:text="${event.getDayCount()}"></div>
											</div>
										</div>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div th:if="${eventList != null and eventList.totalPages gt 0}" class="panel-body text-center">
						    <ul class="pagination">
						        <li th:class="${eventList.number eq 0} ? 'disabled' : ''">
						            <a class="demo-pli-arrow-left" th:if="${not eventList.first}" th:href="@{${'/upm_news/event'}(page=${eventList.number-1})}"></a>
						            <a class="demo-pli-arrow-left" th:if="${eventList.first}" href="javascript:void(0);"></a>
						        </li>
						        <li th:each="pageNo : ${#numbers.sequence(0, eventList.totalPages - 1)}" th:class="${eventList.number eq pageNo}? 'active' : ''">
						            <a th:if="${eventList.number eq pageNo}" href="javascript:void(0);">
						                <span th:text="${pageNo + 1}"></span>
						            </a>
						            <a th:if="${not (eventList.number eq pageNo)}" th:href="@{${'/upm_news/event'}(page=${pageNo})}">
						                <span th:text="${pageNo + 1}"></span>
						            </a>
						        </li>
						        <li th:class="${eventList.number + 1 ge eventList.totalPages} ? 'disabled' : ''">
						            <a class="demo-pli-arrow-right" th:if="${not eventList.last or eventList.number > 9}" th:href="@{${'/upm_news/event'}(page=${eventList.number+1})}"></a>
						            <a class="demo-pli-arrow-right" th:if="${eventList.last or eventList.number > 9}" href="javascript:void(0);"></a>
						        </li>
						    </ul>
						</div>
					</div>


					<div class="tab_content">
						<div class="artist_list clear">
							<div class="producing_listhead">
								<p class="content_title2 fl">종료된 이벤트</p>
							</div>
							<div class="producing_list  musicvideo_list event_list clear">
								<ul class="producing_contnet">
									<li th:each="endEvent : ${endEventList}">
										<a th:href="@{${endEvent.getAdminDetailURL()}}">
										<div class="event_end"></div>
										<div class="producing_profile event_profile" th:style="'background:url(' +@{${endEvent.getImgUrl()}}+') center center no-repeat;'">
											<!-- <img alt="" th:src="${endEvent.getImgUrl()}"> -->
										</div>
										<div class="producing_info event_info">
											<div class="producing_infowrap">
												<h3 class="event_title" th:text="${endEvent.subject}"></h3>
												<p class="event_subtitle" th:text="${endEvent.getEventExpiryDate()}"></p>
												<p class="event_introduce mt15"></p>
												<div class="Dday_icon Dday_end">종료</div>
											</div>
										</div>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div th:if="${endEventList != null and endEventList.totalPages gt 0}" class="panel-body text-center">
						    <ul class="pagination">
						        <li th:class="${endEventList.number eq 0} ? 'disabled' : ''">
						            <a class="demo-pli-arrow-left" th:if="${not endEventList.first}" th:href="@{${'/upm_news/event#endEventLi'}(page=${endEventList.number-1})}"></a>
						            <a class="demo-pli-arrow-left" th:if="${endEventList.first}" href="javascript:void(0);"></a>
						        </li>
						        <li th:each="pageNo : ${#numbers.sequence(0, endEventList.totalPages - 1)}" th:class="${endEventList.number eq pageNo}? 'active' : ''">
						            <a th:if="${endEventList.number eq pageNo}" href="javascript:void(0);">
						                <span th:text="${pageNo + 1}"></span>
						            </a>
						            <a th:if="${not (endEventList.number eq pageNo)}" th:href="@{${'/upm_news/event#endEventLi'}(page=${pageNo})}">
						                <span th:text="${pageNo + 1}"></span>
						            </a>
						        </li>
						        <li th:class="${endEventList.number + 1 ge endEventList.totalPages} ? 'disabled' : ''">
						            <a class="demo-pli-arrow-right" th:if="${not endEventList.last or endEventList.number > 9}" th:href="@{${'/upm_news/event#endEventLi'}(page=${endEventList.number+1})}"></a>
						            <a class="demo-pli-arrow-right" th:if="${endEventList.last or endEventList.number > 9}" href="javascript:void(0);"></a>
						        </li>
						    </ul>
						</div>
					</div>
				</div>
			</div>
		</div><!-- subpage_wrap	 -->
		</div>

		<script>

		</script>

	</div>

</body>
</html>