<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">

<head>
</head>

<body>

  <div layout:fragment="content">
    <div class="content">
    	<div class="subpage_wrap">
			<div class="production_section1 section">
				<h2 class="page-title">크라우드 펀딩</h2>
				<div class="tab_contentwrap">
					<div class="tab_content active">
						<div class="artist_list clear">
							<p class="content_title2 mb15">크라우드 펀딩 상세보기</p>
							<div class="crowd_newproject_wrap">
								<div class="producing_profile crowd_profile" th:style="'background:url(' +@{${result.getThumbnailImgUrl()}}+') center center no-repeat;'">
								</div>
								<div class="producing_info crowd_info">
									<div class="producing_infowrap">
										<h3 class="crowd_title crowd_title2">
											<span th:text="${result.subject}" th:remove="tag">subject</span>
											<br>
											<!-- <span class="crowddetails_subtitle" th:text="목표금액  +' '+ ${result.targetPrice}"> -->
											<span class="crowddetails_subtitle">
											목표금액 <span th:remove="tag" th:text="${#numbers.formatInteger(result.targetPrice,3,'COMMA')}">0</span>
											</span>
										</h3>
										<ul class="crowd_details">
											<li><i><img src="/img/mic.png" alt="" /></i>펀딩에 참여한 아티스트: <span th:text="${result.joinCnt}"></span>명</li>
											<li><i><img src="/img/day.png" alt="" /></i><span th:text="${result.getexpiryDate()}"></span></li>
										</ul>
										<div class="funding_graph_wrap mt15">
											<div class="funding_graph_head">
												<h4 class="funding_percent" th:text="${result.getPercent()}">
													(<span th:text="${result.joinCnt}"></span>표)
												</h4>
												<p class="funcding_time">남은시간: <span th:text="${result.getDateTerm()} + 일"></span></p>
											</div>
											<div class="funding_bar_wrap">
												<div class="funding_bar" th:style="'width: ' + @{${result.getPercent()}} +'; max-width: 100%;'"></div>
												<p th:text="${result.attainmentPrice} + 원"></p>
											</div>
										</div>
										<div sec:authorize="isAnonymous()" class="commerce_btn mt15">
											<ul>
												<li onclick="UPMLoginModal.showModal();"><i><img th:src="@{/img/funding.png}" alt="" /></i>펀딩</li>
												<li onclick="UPMShareModal.showShareModal(null);"><i><img src="/img/share_icon.png" alt=""></i>공유</li>
											</ul>
										</div>
										<div sec:authorize="isAuthenticated()" class="commerce_btn mt15">
											<ul>
												<li><a th:href="@{${result.getRewardUrl()}}"><i><img th:src="@{/img/funding.png}" alt="" /></i>펀딩</a></li>
												<li onclick="UPMShareModal.showShareModal(null);"><i><img src="/img/share_icon.png" alt=""></i>공유</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="crowddetails_introduce">
							<p class="content_title2 mb15">프로젝트 소개</p>
							<div class="cintroduce_content" id="content1">
								<!-- <img src="/img/cd_img1.png" alt="" /> -->
							</div>
						</div>
						<div class="crowddetails_introduce">
							<p class="content_title2 mb15">프로젝트 리워드</p>
							<div class="cintroduce_content" id="content2">
								<!-- <img src="/img/cd_img2.png" alt="" /> -->
							</div>
						</div>
						<div class="crowddetails_introduce">
							<p class="content_title2 mb15">프로젝트 주의사항</p>
							<div class="cintroduce_content" id="content3">
								<!-- <img src="/img/cd_img3.png" alt="" /> -->
							</div>
						</div>
				</div>
			</div>
		</div><!-- subpage_wrap	 -->
    </div>
    </div>

     <script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/

		// editor 로 글 등록시 <p> 태그로 시작하기 때문에 아래와 같이 내용을 출력함
	    var content1 = /*[[${result.content1}]]*/;
	    var content2 = /*[[${result.content2}]]*/;
	    var content3 = /*[[${result.content3}]]*/;
	    $('#content1').append(content1);
	    $('#content2').append(content2);
	    $('#content3').append(content3);
	    /*]]>*/
	</script>

  </div>

</body>
</html>