<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
layout:decorate="~{layout/default_layout}">

<head>
</head>

<body>

  <div layout:fragment="content">
    <div class="content">
    	<div class="subpage_wrap">
			<div class="production_section1 section">
				<div class="page-title-wrap">
					<h2 class="page-title fl">함께해요</h2>
					<!--
					<dl >
						<dt><a th:href="@{/upm_news/upm_band/insertForm}"><button class="btn btn-custom2 fr"><i><img src="img/add-event.png" alt="" /></i> 함께해요 등록</button></a></dt>
					</dl>
					-->
					<a th:href="@{/upm_news/upm_band/insertForm}">
						<button sec:authorize="isAuthenticated()" class="btn btn-custom2 fr"><i class="upleague_icon"><img th:src="@{/img/add-event.png}" alt="" /></i><span>함께해요 등록</span></button>
					</a>
				</div>
				<div class="tab_contentwrap">
					<div class="tab_content active">
						<div class="artist_list clear">
							<div class="producing_listhead">
								<p class="content_title2 fl">함께해요 리스트 <span>* 뭉치면 더 큰 힘이 됩니다. 함께 할 아티스트를 찾아보세요.</span></p>
							</div>
								<ul class="artist_contentlist">
									<li th:each="bandRecruit : ${bandRecruitList.content}" >
										<!-- <a th:href=""> -->
										<a th:href="${bandRecruit.getDetailUrl()}">
										<div th:if="${bandRecruit.getThumbnailImgUrl() ne ''}" class="artist_profile band_profile" th:style="'background: url('+@{${bandRecruit.getThumbnailImgUrl()}}+') center center no-repeat; background-size: cover;'">
											<!--
											<img th:src="${bandRecruit.getThumbnailImgUrl() ne ''}? ${bandRecruit.getThumbnailImgUrl()} : '/img/artist_profile.png'" alt="" style="width: 100%; height: 220px;"/>
											-->
											<div class="bandsmall_profile" th:style="'background: url('+ @{${bandRecruit.member.getProfileImageUrl()}} +') center center no-repeat; background-size: cover;'">
											</div>
										</div>
										<div th:if="${bandRecruit.getThumbnailImgUrl() eq ''}" class="artist_profile band_profile" style='background: url("/img/artist_profile.png") center center no-repeat; background-size: cover;'>
											<div class="bandsmall_profile" th:style="'background: url('+ @{${bandRecruit.member.getProfileImageUrl()}} +') center center no-repeat; background-size: cover;'">
											</div>
										</div>
										<div class="artist_info band_info">
											<h3 class="band_title" th:text="${bandRecruit.limitSubject()}">
												<span th:text="${bandRecruit.getCreateAtFormat()}"></span>
											</h3>
											<p class="band_introduce" th:text="${bandRecruit.member.nick}"></p>
											<!-- <p class="band_introduce" th:text="${bandRecruit.getContentSummary()}"></p> -->
										</div>
										<div class="feedcontent_footer band_comment">
											<ul>
												<li>
												<!-- <i><img src="img/feedbtn_0.png" alt="" /></i> -->댓글<span th:text="${bandRecruit.bandCommentCnt}">개</span>
												</li>
											</ul>
										</div>
										</a>
									</li>
								</ul>
							</div>
							<div th:if="${bandRecruitList != null and bandRecruitList.totalPages gt 0}" class="panel-body text-center">
							    <ul class="pagination">
							        <li th:class="${bandRecruitList.number eq 0} ? 'disabled' : ''">
							            <a class="demo-pli-arrow-left" th:if="${not bandRecruitList.first}" th:href="@{${'/upm_news/upm_band'}(page=${bandRecruitList.number-1})}"></a>
							            <a class="demo-pli-arrow-left" th:if="${bandRecruitList.first}" href="javascript:void(0);"></a>
							        </li>
							        <li th:each="pageNo : ${#numbers.sequence(0, bandRecruitList.totalPages - 1)}" th:class="${bandRecruitList.number eq pageNo}? 'active' : ''">
							            <a th:if="${bandRecruitList.number eq pageNo}" href="javascript:void(0);">
							                <span th:text="${pageNo + 1}"></span>
							            </a>
							            <a th:if="${not (bandRecruitList.number eq pageNo)}" th:href="@{${'/upm_news/upm_band'}(page=${pageNo})}">
							                <span th:text="${pageNo + 1}"></span>
							            </a>
							        </li>
							        <li th:class="${bandRecruitList.number + 1 ge bandRecruitList.totalPages} ? 'disabled' : ''">
							            <a class="demo-pli-arrow-right" th:if="${not bandRecruitList.last or bandRecruitList.number > 9}" th:href="@{${'/upm_news/upm_band'}(page=${bandRecruitList.number+1})}"></a>
							            <a class="demo-pli-arrow-right" th:if="${bandRecruitList.last or bandRecruitList.number > 9}" href="javascript:void(0);"></a>
							        </li>
							    </ul>
							</div>
						</div>
				</div>
			</div>
		</div><!-- subpage_wrap	 -->
    </div>

    <script type="text/javascript" th:inline="javascript">


	</script>

  </div>

</body>
</html>