<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
</head>

<body>
	<div th:fragment="upload_introduction" class="upload_information">
		<ul>
			<li>
				<div class="upload_profile">
					<img th:src="@{/img/upload_infoicon1.png}" alt="" />
				</div>
				<div class="upload_info">
					<ul>
						<li>창작의 자유~</li>
						<li>회원님의 창작물을 <br />
						자유롭게 업로드 하세요.
						</li>
					</ul>
				</div>
			</li>
			<li>
				<div class="upload_profile">
					<img th:src="@{/img/upload_infoicon2.png}" alt="" />
				</div>
				<div class="upload_info">
					<ul>
						<li>업로드하고 보상도 받고!</li>
						<li>창작물이 업로드 될 때 마다 보상이 
								이루어지며, 회원님의 업뮤직 계정 
								[나의 지갑]에 코인이 적립됩니다.
						</li>
					</ul>
				</div>
			</li>
			<li>
				<div class="upload_profile">
					<img th:src="@{/img/upload_infoicon3.png}" alt="" />
				</div>
				<div class="upload_info">
					<ul>
						<li>저작권 걱정은 NO!</li>
						<li>업로드와 동시에 해당 창작물은 
								회원님의 권리(저작권 또는 저작 
								인접권)로 보호됩니다.
						</li>
					</ul>
				</div>
			</li>
			<li>
				<div class="upload_profile">
					<img th:src="@{/img/upload_infoicon4.png}" alt="" />
				</div>
				<div class="upload_info">
					<ul>
						<li>정산 작업은 업뮤직에서!</li>
						<li>업로드 된 회원님 모든 저작물은 업뮤직에서
						보호 및 관리, 서비스에 대한 모든 정산이 이루어집니다.
						</li>
					</ul>
				</div>
			</li>
			<li>
				<div class="upload_profile">
					<img th:src="@{/img/upload_infoicon5.png}" alt="" />
				</div>
				<div class="upload_info">
					<ul>
						<li>나의 음원 관리 다욱 쉽게~</li>
						<li>업로드 완료 시 [나의 업뮤직]계정에서 창작물 확인 및 관리가 가능합니다.
						</li>
					</ul>
				</div>
			</li>
			<li>
				<div class="upload_profile">
					<img th:src="@{/img/upload_infoicon6.png}" alt="" />
				</div>
				<div class="upload_info">
					<ul>
						<li>유통ㆍ정산은 업뮤직 통해서!</li>
						<li>업뮤직은 회원님의 소중한 창작물을 
								위해 완벽한 유통 시스템과 
								정산 시스템을 유지하고 있습니다.
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</body>

</html>