<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">

<head>
</head>

<body>

  <div layout:fragment="content">
    <div class="content">
    	<div class="subpage_wrap">
			<div class="production_section1 section">
				<h2 class="page-title">공지사항 상세보기</h2>
				<div class="notice_detail mt30">
					<div class="nd_head">
						<h3 class="list-title mb0 fl">
							<span class="notice_group" th:text="[ + ${result.category} + ]"></span>
							<span th:text="${result.subject}"></span>
						</h3>
						<p class="fr" th:text="${result.formattedTime()}"></p>
					</div>
					<div class="nd_info" id="result_content">
					</div>
					<div class="commerce_btn fr mt30">
						<ul>
							<li id="btn_back"><i><img src="/img/list_icon.png" alt=""></i>목록</li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- subpage_wrap	 -->
    </div>

    <script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/

		// editor 로 글 등록시 <p> 태그로 시작하기 때문에 아래와 같이 내용을 출력함
	    var content = /*[[${result.content}]]*/;
	    $('#result_content').append(content);
	    /*]]>*/
	    $('#btn_back').click(function(){
	    	history.back();
	    });
		</script>
  </div>

</body>
</html>