<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">

<head>
</head>

<body>

	<div layout:fragment="content">
		<div class="subpage_wrap">
			<div class="production_section1 section">
				<div class="page-title-wrap">
					<h2 class="page-title fl" th:text="#{nav.my_playlist.like}"></h2>
				</div>
				<div class="tab_design clear">
					<ul>
						<li id="likes-music"><span th:text="#{nav.my_playlist.like.music}" th:remove="tag"></span>
							<div class="tab_line"></div>
						</li>
						<li id="likes-video"><span th:text="#{nav.my_playlist.like.video}" th:remove="tag"></span></li>
					</ul>
				</div>
				<div class="tab_contentwrap">
					<div class="tab_content active">
						<div class="genre_listcontent">
							<div th:if="${tracks != null and 0 < tracks.getTotalElements()}">
								<div th:replace="fragments/common/list_track_default :: list_track(${tracksFragmentId}, ${tracks}, ${trackPaginationUrl})"></div>
							</div>
							<div th:unless="${tracks != null and 0 < tracks.getTotalElements()}" class="list_none">
								<ul>
									<li><img th:src="@{/img/music_none.png}" alt="" /></li>
									<li>좋아요 리스트가 없습니다.</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="tab_content">
						<div class="listcontrols mt30 mb20">
							<ul>
								<li class="list_deleteform"><a  th:onclick="@{${'UPMListHeart.deleteSelectedVideo(&quot;#' + videosFragmentId + '&quot;);'}}"><span th:text="#{button.delete}"></span></a></li>
							</ul>
						</div>
						<div class="genre_listcontent">
							<div th:if="${videos != null and 0 < videos.getTotalElements()}">
								<div th:replace="fragments/common/list_video_default :: list_video(${videosFragmentId}, ${videos}, ${videoPaginationUrl})"></div>
							</div>
							<div th:unless="${videos != null and 0 < videos.getTotalElements()}" class="list_none">
								<ul>
									<li><img th:src="@{/img/music_none.png}" alt="" /></li>
									<li>좋아요 리스트가 없습니다.</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript" th:inline="javascript">
			var UPMListTrackAnonymous = {
				loadPage: function(elementId, paginationUrl, page) {
					var url = paginationUrl + '?page=' + page;
					$.get(url, function(data) {
						$('#' + elementId).replaceWith(data);
					});
				}
				
			};
			var UPMListVideoAnonymous = {
				loadPage: function(elementId, paginationUrl, page) {
					var url = paginationUrl + '?page=' + page;
					$.get(url, function(data) {
						$('#' + elementId).replaceWith(data);
					});
				}
			};
			
		</script>
		
		<div sec:authorize="isAnonymous()">
		<script type="text/javascript" th:inline="javascript">
			var UPMListHeart = {
				deleteSelectedTrack: function(fragmentId) {
					UPMLoginModal.showModal();
				},
				deleteSelectedVideo: function(fragmentId) {
					UPMLoginModal.showModal();
				}
			};
	    </script>
		</div>
		
		<div sec:authorize="isAuthenticated()">
		<script type="text/javascript" th:inline="javascript">
			var UPMListHeart = {
				_config : {
					loading: false
				},
				deleteSelectedTrack: function(fragmentId) {
					var selectedTracks = $(fragmentId + ' table tr.on').map(function() {
						if (this.id) return this.id;
					}).get();
					if (0 < selectedTracks.length) {
						UPMusic.confirm("정말 삭제하시겠습니까?", function() {
							UPMListHeart.deleteTrackConfirm(fragmentId);
						});
					} else {
						UPMusic.alert(msgSelectItem);
					}
				},
				deleteTrackConfirm: function(fragmentId) {
					if (UPMListHeart._config.loading) return;
					UPMListHeart._config.loading = true;
					var selectedTracks = $(fragmentId + ' table tr.on').map(function() {
						if (this.id) return this.id;
					}).get();
					var params = {ids : selectedTracks};
		  			UPMusic.ajaxDeleteItems(UPMusic._config._api_my_heartlist + '/remove_tracks', headers, params, UPMListHeart.deleteSelectedTrackCallback);
				},
				deleteSelectedTrackCallback: function(msg, object) {
					if (msg == 'true') {
						UPMListTrackAnonymous.loadPage('like-track-fragment', '/component/my_playlist/like_track',  0);
					} else {
						UPMusic.alert("리스트를 삭제하지 못했습니다. 잠시 후 다시 시도하십시오.");
					}
					UPMListHeart._config.loading = false;
				},
				deleteSelectedVideo: function(fragmentId) {
					var selectedVideos = $(fragmentId + ' input:checkbox:checked').map(function() {
					    if (this.value) return this.value;
					}).get();
					if (0 < selectedVideos.length) {
						UPMusic.confirm("정말 삭제하시겠습니까?", function() {
							UPMListHeart.deleteVideoConfirm(fragmentId);
						});
					} else {
						UPMusic.alert('영상을 선택해주세요');
					}
				},
				deleteVideoConfirm: function(fragmentId) {
					if (UPMListHeart._config.loading) return;
					UPMListHeart._config.loading = true;
					var selectedVideos = $(fragmentId + ' input:checkbox:checked').map(function() {
						if (this.value) return this.value;
					}).get();
					var params = {ids : selectedVideos};
		  			UPMusic.ajaxDeleteItems(UPMusic._config._api_my_heartlist + '/remove_videos', headers, params, UPMListHeart.deleteSelectedVideoCallback);
				},
				deleteSelectedVideoCallback: function(msg, object) {
					if (msg == 'true') {
						UPMListVideoAnonymous.loadPage('like-video-fragment', '/component/my_playlist/like_video', 0);
					} else {
						UPMusic.alert("리스트를 삭제하지 못했습니다. 잠시 후 다시 시도하십시오.");
					}
					UPMListHeart._config.loading = false;
				}
			};
		</script>
		</div>
	</div>

</body>
</html>