<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout_mobile}">

<head>
</head>

<body>

	<div layout:fragment="content">
		<div id="content">
			<!-- 좋아요 리스트 -->
				<div class="nl_panel">
					<div class="ct_title ofh">
						<h2 class="content_title">좋아요 리스트</h2>								
					</div>
					<p class="colBlue dib pdt5">*내가 좋아요를 선택한 아티스트가 노출됩니다.</p>
				</div>
				
				<div class="nl_panel">
					<dl class="likelist">
						<dd th:each="member : ${likeList}">
							<p class="img"><img th:src="${member.getProfileImageUrl()}" alt="" /></p>
							<p class="artist" th:text="${member.nick}"></p>
						</dd>
						
					</dl>
				</div>
			
			<!-- //end 좋아요 리스트 -->					
		</div>
		<!-- //end content -->
		
		<script type="text/javascript" th:inline="javascript">
			
		/*<![CDATA[*/
			
		/*]]>*/
		</script>
	</div>

</body>
</html>