<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/admin_layout}">

<head>
</head>

<body>

	<div layout:fragment="content">
		<div class="subpage_wrap">
			<div class="production_section1 section">
				<h2 class="page-title fl">심사 대기중인 음원</h2>
				<div class="tab_design clear">
					<ul>
						<li id="recent">최신곡
							<div class="tab_line tab_line"></div>
						</li>
						<li id="upleague">업리그</li>
					</ul>
				</div>
				<div class="tab_contentwrap">

					<div class="tab_content active">
						<div class="accordion_btn"></div>
						<div class="genre_listcontent">
							<div id="uploaded-track-list" class="musiclist_table musiclist_table_hover2">
								<table id="judgingTable">
									<tr>
										<th><span th:text="#{model.track.number}" th:remove="tag"></span></th>
										<th><span th:text="#{model.track.information}" th:remove="tag"></span></th>
										<th>업리그 참여</th>
										<th>스토어 등록</th>
										<th><span th:text="#{model.music.rental_fee}" th:remove="tag"></span></th>
										<th><span th:text="#{model.music.price}" th:remove="tag"></span></th>
										<th>
											<input id="selectAll" type="checkbox" class="checkbox-checked"/>
											<label for="selectAll"><span class="checkbox-custom"></span></label>
										</th>
									</tr>
									<tr th:each="track, iter : ${tracksRecent}" th:id="${track.id}" class="pointer" th:onclick="@{${'UPMusicAdmin.goto(&quot;' + track.getAdminUrl() + '&quot;);'}}">
										<td><span th:text="${iter.index + 1}" th:remove="tag"></span></td>
										<th>
											<a th:href="@{${track.getAdminUrl()}}"><i><img class="track-list-cover" th:src="@{${track.getCoverImageUrl()}}" alt="" /></i></a>
											<p>
												<a th:href="@{${track.getAdminUrl()}}"><span th:text="${track.subject}" th:remove="tag"></span></a><br />
												<b><a th:href="@{${track.getArtistUrl()}}"><span th:text="${track.getArtistNick()}" th:remove="tag"></span></a></b>
											</p>
										</th>
										<td><span th:text="${track.isInLeague() ? '예' : '아니오'}" th:remove="tag"></span></td>
										<td><span th:text="${track.isInStore() ? '예' : '아니오'}" th:remove="tag"></span></td>
										<td><span th:text="${track.getRentalFee()}" th:remove="tag"></span>원</td>
										<td><span th:text="${track.getPrice()}" th:remove="tag"></span>원</td>
										<td onclick="event.cancelBubble=true;" name="cc2">
											<input th:id="@{${track.getId()}}" th:value="@{${track.getId()}}" type="checkbox" class="checkbox-checked"/>
											<label th:for="@{${track.getId()}}"><span class="checkbox-custom"></span></label>
										</td>
									</tr>
								</table>
							</div>
						</div>
						<div th:if="${tracksRecent != null and tracksRecent.totalPages gt 0}" class="panel-body text-center">
							<ul class="pagination">
								<li th:class="${tracksRecent.number eq 0} ? 'disabled' : ''">
									<a class="demo-pli-arrow-left" th:if="${not tracksRecent.first}" th:href="@{${'/admin/music/judging'}(page=${tracksRecent.number-1})}"></a>
									<a class="demo-pli-arrow-left" th:if="${tracksRecent.first}" href="javascript:void(0);"></a>
								</li>
								<li th:each="pageNo : ${#numbers.sequence(0, tracksRecent.totalPages - 1)}" th:class="${tracksRecent.number eq pageNo}? 'active' : ''">
									<a th:if="${tracksRecent.number eq pageNo}" href="javascript:void(0);">
										<span th:text="${pageNo + 1}"></span>
									</a>
									<a th:if="${not (tracksRecent.number eq pageNo)}" th:href="@{${'/admin/music/judging'}(page=${pageNo})}">
										<span th:text="${pageNo + 1}"></span>
									</a>
								</li>
								<li th:class="${tracksRecent.number + 1 ge tracksRecent.totalPages} ? 'disabled' : ''">
									<a class="demo-pli-arrow-right" th:if="${not tracksRecent.last}" th:href="@{${'/admin/music/judging'}(page=${tracksRecent.number+1})}"></a>
									<a class="demo-pli-arrow-right" th:if="${tracksRecent.last}" href="javascript:void(0);"></a>
								</li>
							</ul>
						</div>
					</div>

					<div class="tab_content">
						<div class="accordion_btn"></div>
						<div class="genre_listcontent">
							<div id="uploaded-track-list" class="musiclist_table musiclist_table_hover2">
								<table id="judgingTable">
									<tr>
										<th><span th:text="#{model.track.number}" th:remove="tag"></span></th>
										<th><span th:text="#{model.track.information}" th:remove="tag"></span></th>
										<th>업리그 참여</th>
										<th>스토어 등록</th>
										<th><span th:text="#{model.music.rental_fee}" th:remove="tag"></span></th>
										<th><span th:text="#{model.music.price}" th:remove="tag"></span></th>
										<th>
											<input id="selectAll2" type="checkbox" class="checkbox-checked"/>
											<label for="selectAll2"><span class="checkbox-custom"></span></label>
										</th>
									</tr>
									<tr th:each="track, iter : ${tracksUpleague}" th:id="${track.id}" class="pointer" th:onclick="@{${'UPMusicAdmin.goto(&quot;' + track.getAdminUrl() + '&quot;);'}}">
										<td><span th:text="${iter.index + 1}" th:remove="tag"></span></td>
										<th>
											<a th:href="@{${track.getAdminUrl()}}"><i><img class="track-list-cover" th:src="@{${track.getCoverImageUrl()}}" alt="" /></i></a>
											<p>
												<a th:href="@{${track.getAdminUrl()}}"><span th:text="${track.subject}" th:remove="tag"></span></a><br />
												<b><a th:href="@{${track.getArtistUrl()}}"><span th:text="${track.getArtistNick()}" th:remove="tag"></span></a></b>
											</p>
										</th>
										<td><span th:text="${track.isInLeague() ? '예' : '아니오'}" th:remove="tag"></span></td>
										<td><span th:text="${track.isInStore() ? '예' : '아니오'}" th:remove="tag"></span></td>
										<td><span th:text="${track.getRentalFee()}" th:remove="tag"></span>원</td>
										<td><span th:text="${track.getPrice()}" th:remove="tag"></span>원</td>
										<td onclick="event.cancelBubble=true;" name="cc">
											<input th:id="@{${track.getId()}}" th:value="@{${track.getId()}}" type="checkbox" class="checkbox-checked"/>
											<label th:for="@{${track.getId()}}"><span class="checkbox-custom"></span></label>
										</td>
									</tr>
								</table>
							</div>
						</div>
						<div th:if="${tracksUpleague != null and tracksUpleague.totalPages gt 0}" class="panel-body text-center">
						    <ul class="pagination">
						        <li th:class="${tracksUpleague.number eq 0} ? 'disabled' : ''">
						            <a class="demo-pli-arrow-left" th:if="${not tracksUpleague.first}" th:href="@{${'/admin/music/judging'}(page=${tracksUpleague.number-1})}"></a>
						            <a class="demo-pli-arrow-left" th:if="${tracksUpleague.first}" href="javascript:void(0);"></a>
						        </li>
						        <li th:each="pageNo : ${#numbers.sequence(0, tracksUpleague.totalPages - 1)}" th:class="${tracksUpleague.number eq pageNo}? 'active' : ''">
						            <a th:if="${tracksUpleague.number eq pageNo}" href="javascript:void(0);">
						                <span th:text="${pageNo + 1}"></span>
						            </a>
						            <a th:if="${not (tracksUpleague.number eq pageNo)}" th:href="@{${'/admin/music/judging'}(page=${pageNo})}">
						                <span th:text="${pageNo + 1}"></span>
						            </a>
						        </li>
						        <li th:class="${tracksUpleague.number + 1 ge tracksUpleague.totalPages} ? 'disabled' : ''">
						            <a class="demo-pli-arrow-right" th:if="${not tracksUpleague.last}" th:href="@{${'/admin/music/judging'}(page=${tracksUpleague.number+1})}"></a>
						            <a class="demo-pli-arrow-right" th:if="${tracksUpleague.last}" href="javascript:void(0);"></a>
						        </li>
						    </ul>
						</div>
					</div>

					<!-- 뮤직스토어
					<div class="tab_content">
						<div class="accordion_btn"></div>
						<div class="genre_listcontent">
							<div id="uploaded-track-list" class="musiclist_table musiclist_table_hover2">
								<table id="judgingTable">
									<tr>
										<th><span th:text="#{model.track.number}" th:remove="tag"></span></th>
										<th><span th:text="#{model.track.information}" th:remove="tag"></span></th>
										<th>업리그 참여</th>
										<th>스토어 등록</th>
										<th><span th:text="#{model.music.rental_fee}" th:remove="tag"></span></th>
										<th><span th:text="#{model.music.price}" th:remove="tag"></span></th>
										<th>
											<input id="selectAll2" type="checkbox" class="checkbox-checked"/>
											<label for="selectAll2"><span class="checkbox-custom"></span></label>
										</th>
									</tr>
									<tr th:each="track, iter : ${tracksMusicStore}" th:id="${track.id}" class="pointer" th:onclick="@{${'UPMusicAdmin.goto(&quot;' + track.getAdminUrl() + '&quot;);'}}">
										<td><span th:text="${iter.index + 1}" th:remove="tag"></span></td>
										<th>
											<a th:href="@{${track.getAdminUrl()}}"><i><img class="track-list-cover" th:src="@{${track.getCoverImageUrl()}}" alt="" /></i></a>
											<p>
												<a th:href="@{${track.getAdminUrl()}}"><span th:text="${track.subject}" th:remove="tag"></span></a><br />
												<b><a th:href="@{${track.getArtistUrl()}}"><span th:text="${track.getArtistNick()}" th:remove="tag"></span></a></b>
											</p>
										</th>
										<td><span th:text="${track.isInLeague() ? '예' : '아니오'}" th:remove="tag"></span></td>
										<td><span th:text="${track.isInStore() ? '예' : '아니오'}" th:remove="tag"></span></td>
										<td><span th:text="${track.getRentalFee()}" th:remove="tag"></span>원</td>
										<td><span th:text="${track.getPrice()}" th:remove="tag"></span>원</td>
										<td onclick="event.cancelBubble=true;" name="cc2">
											<input th:id="@{${track.getId()}}" th:value="@{${track.getId()}}" type="checkbox" class="checkbox-checked"/>
											<label th:for="@{${track.getId()}}"><span class="checkbox-custom"></span></label>
										</td>
									</tr>
								</table>
							</div>
						</div>
						<div th:if="${tracksMusicStore != null and tracksMusicStore.totalPages gt 0}" class="panel-body text-center">
							<ul class="pagination">
								<li th:class="${tracksMusicStore.number eq 0} ? 'disabled' : ''">
									<a class="demo-pli-arrow-left" th:if="${not tracksMusicStore.first}" th:href="@{${'/admin/music/judging'}(page=${tracksMusicStore.number-1})}"></a>
									<a class="demo-pli-arrow-left" th:if="${tracksMusicStore.first}" href="javascript:void(0);"></a>
								</li>
								<li th:each="pageNo : ${#numbers.sequence(0, tracksMusicStore.totalPages - 1)}" th:class="${tracksMusicStore.number eq pageNo}? 'active' : ''">
									<a th:if="${tracksMusicStore.number eq pageNo}" href="javascript:void(0);">
										<span th:text="${pageNo + 1}"></span>
									</a>
									<a th:if="${not (tracksMusicStore.number eq pageNo)}" th:href="@{${'/admin/music/judging'}(page=${pageNo})}">
										<span th:text="${pageNo + 1}"></span>
									</a>
								</li>
								<li th:class="${tracksMusicStore.number + 1 ge tracksMusicStore.totalPages} ? 'disabled' : ''">
									<a class="demo-pli-arrow-right" th:if="${not tracksMusicStore.last}" th:href="@{${'/admin/music/judging'}(page=${tracksMusicStore.number+1})}"></a>
									<a class="demo-pli-arrow-right" th:if="${tracksMusicStore.last}" href="javascript:void(0);"></a>
								</li>
							</ul>
						</div>
					</div>
					-->
				</div>
				<div class="commerce_btn commerce_btn_ver2 mt30 w300">
					<ul>
						<li id="acceptButton"><i>V</i>승인</li>
						<li id="rejectButton"><i>X</i>거절</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- 반려 사유 modal -->
		<div class="modal fade" id="modal-track-rejected-reason" role="dialog" tabindex="-1" aria-labelledby="Track Rejection" aria-hidden="true">
			<div class="modal-dialog login_pop">
				<div class="modal-content">
					<div class="modal-header login_header">
						<h2 class="modal_title">심사 반려</h2>
						<img th:src="@{/img/close.png}" class="close" alt="" data-dismiss="modal" />
					</div>

					<div class="modal-body login_body">
						<div class="login_body1">
							<div class="inputbox mt10">
								<label class="input_title pop_title">반려 사유</label>
								<input id="rejected-reason" type="text" placeholder="이유를 간략히 입력해주세요" class="form-control login_input" />
							</div>
							<div class="login_btn upload_btn mt10">
								<button class="btn btn-custom3 h50 w100p" id="rejectConfirm">확인</button>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<script type="text/javascript" th:inline="javascript">
			$(document).ready(function () {
			    $('#recent').on('click',function () {
                    $('[name=cc]').children('input').prop('checked',false);
                    $('#selectAll').prop('checked', false);
                });
                $('#upleague').on('click',function () {
                    $('[name=cc2]').children('input').prop('checked',false);
                    $('#selectAll2').prop('checked', false);
                });
				$('#selectAll').click(function () {
				    if($('#selectAll').prop('checked')){
                        $('[name=cc]').children('input').prop('checked',true);
                    } else {
                        $('[name=cc]').children('input').prop('checked',false);
					}
                });
				$('[name=cc]').click(function () {
                   if(!$(this).children('input').prop('checked')){
                       $(this).children('input').prop('checked', true);
					} else {
					   $(this).children('input').prop('checked', false);
                       if($('#selectAll').prop('checked')){
                           $('#selectAll').prop('checked', false);
                       }
                   }
                });
                $('#selectAll2').click(function () {
                    if($('#selectAll2').prop('checked')){
                        $('[name=cc2]').children('input').prop('checked',true);
                    } else {
                        $('[name=cc2]').children('input').prop('checked',false);
                    }
                });
                $('[name=cc2]').click(function () {
                    if(!$(this).children('input').prop('checked')){
                        $(this).children('input').prop('checked', true);
                    } else {
                        $(this).children('input').prop('checked', false);
                        if($('#selectAll2').prop('checked')){
                            $('#selectAll2').prop('checked', false);
                        }
                    }
                });
				$('#acceptButton').on('click', function () {
                    var ids = [];
                    $('#judgingTable :checked').each(function () {
                        if($.isNumeric($(this).val())) {
                            ids.push($(this).val());
                        }
                    });
                    UPMusicAdmin.startLoading();
					UPMusicAdmin.acceptTracks(ids);
                });

                $('#rejectButton').on('click', function () {
					$('#modal-track-rejected-reason').modal('show');
                });
                
                $('#rejectConfirm').on('click',function () {
                    var ids = [];
                    var reason = $('#rejected-reason').val();
                    $('#judgingTable :checked').each(function () {
                        if($.isNumeric($(this).val())) {
                            ids.push($(this).val());
                        }
                    });
                    if (reason != '') {
                        UPMusicAdmin.startLoading();
                        UPMusicAdmin.rejectTracks(ids, reason);
                        $('#modal-track-rejected-reason').modal('hide');
                    } else {
                        UPMusicAdmin.alert("이유를 간략히 입력해주세요");
                    }
                })
            });
		</script>
	</div>
</body>
</html>