<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorate="~{layout/default_layout}">

<head>
</head>

<body>
	<div layout:fragment="content">
		<div class="subpage_wrap section">
			<h2 class="page-title"><span th:text="#{model.member.forgot_password}" th:remove="tag"></span></h2>
			<p class="content_title2"><span th:text="#{model.member.forgot_password}" th:remove="tag"></span> <span th:text="#{model.member.forgot_password.description}"></span></p>

			<div class="radiowrap mt20">
				<div class="radio">
				    <input id="demo-form-radio" type="radio" name="phoneAuthentication" value="1" th:checked="${forgotpwform.phoneAuthentication}">
				    <label for="demo-form-radio"><span class="radiobtn_custom"></span><span th:text="#{model.member.phoneNumber}" th:remove="tag"></span></label>
				</div>
				<div class="radio">
				    <input id="demo-form-radio-2" type="radio" name="phoneAuthentication" value="0" th:checked="${!forgotpwform.phoneAuthentication}">
				    <label for="demo-form-radio-2"><span class="radiobtn_custom"></span><span th:text="#{model.member.email}" th:remove="tag"></span></label>
				</div>
			</div>
			<div id="form-auth-phoneNumber" class="membership_wrap">
				<form action="#" th:action="@{/auth/forgot_password}" th:object="${forgotpwform}" method="POST" class="form-forgot-password" enctype="utf8" role="form">
					<input type="hidden" name="phoneAuthentication" value="1">
					<ul>
						<li>
							<div class="form-group inputbox" th:classappend="${#fields.hasErrors('email')} ? 'has-error' : ''">
								<label class="input_title"><span th:text="#{model.member.id}" th:remove="tag"></span></label>
								<input th:type="email" th:field="*{email}" th:placeholder="#{model.member.id.placeholder}" class="form-control" />
								<p th:if="${#fields.hasErrors('email')}" th:id="error-upw" class="help-block" th:errors="*{email}"></p>
							</div>
						</li>
						<li>
							<div class="form-group inputbox" th:classappend="${#fields.hasErrors('phoneNumber')} ? 'has-error' : ''">
								<label class="input_title"><span th:text="#{button.cellphone.authentication}" th:remove="tag"></span></label>
								<button class="btn btn-custom2 h50 btn-block" type="button" onclick="fnPopup();"><span th:text="#{button.cellphone.authentication}" th:remove="tag"></span></button>
								<p th:if="${#fields.hasErrors('phoneNumber')}" th:id="errorPhoneNumber" class="help-block" th:errors="*{phoneNumber}"></p>
								<p th:unless="${#fields.hasErrors('phoneNumber')}" th:id="errorPhoneNumber" class="help-block" style="display: none;"></p>
								<input type="hidden" th:field="*{phoneNumber}" />
								<input type="hidden" id="birthday" name="birthday" />
								<input type="hidden" id="genderNo" name="genderNo" />
								<p th:if="${!#fields.hasErrors('phoneNumber') and forgotpwform.phoneNumber != null}" id="completePhoneNumberAuthentication" class="help-block-blue" th:text="#{common.complete.phone_authentification}"></p>
								<p th:unless="${!#fields.hasErrors('phoneNumber') and forgotpwform.phoneNumber != null}" id="completePhoneNumberAuthentication" class="help-block-blue" style="display: none;" th:text="#{common.complete.phone_authentification}"></p>
							</div>
						</li>
					</ul>
					<div class="membership_btn mt50">
						<div class="btn_centerwrap">
							<button class="btn btn-custom btn-dark h50" type="submit">
								<span th:text="#{button.next}" th:remove="tag"></span>
							</button>
						</div>
					</div>
				</form>
				<!-- 본인인증 서비스 팝업을 호출하기 위해서는 다음과 같은 form이 필요합니다. -->
				<form name="form_chk" method="post">
					<input type="hidden" name="m" value="checkplusSerivce">				<!-- 필수 데이타로, 누락하시면 안됩니다. -->
					<input type="hidden" name="EncodeData" th:value="${sEncData}">		<!-- 위에서 업체정보를 암호화 한 데이타입니다. -->
				</form>
			</div>
			<div id="form-auth-email" class="membership_wrap">
				<form action="#" th:action="@{/auth/forgot_password}" th:object="${forgotpwform}" method="POST" class="form-forgot-password" enctype="utf8" role="form">
					<input type="hidden" name="phoneAuthentication" value="0">
					<ul>
						<li>
							<div id="form-group-email" class="form-group inputbox" th:classappend="${#fields.hasErrors('email')} ? 'has-error' : ''">
								<label class="input_title db"><span th:text="#{model.member.id}" th:remove="tag"></span></label>
								<input th:type="email" th:field="*{email}" th:placeholder="#{model.member.id.placeholder}" class="form-control w80p fl clear mr2p" />
								<button id="request-forgotpwform-email-code" class="btn btn-custom2 fl h50 w18p p60" type="button"><span th:text="#{button.authentication}" th:remove="tag"></span></button>
								<p th:if="${#fields.hasErrors('email')}" th:id="error-upw" class="help-block" th:errors="*{email}"></p>
							</div>
						</li>
						
						<li>
							<div class="form-group inputbox" th:classappend="${#fields.hasErrors('authenticationCode')} ? 'has-error' : ''">
								<label class="input_title" th:text="#{model.member.authenticationCode.label}"></label>
								<input th:field="*{authenticationCode}" th:type="text" th:placeholder="#{model.member.authenticationCode.placeholder}" class="form-control" />
								<p th:if="${#fields.hasErrors('authenticationCode')}" th:id="error-authenticationCode" class="help-block" th:errors="*{authenticationCode}"></p>
							</div>
						</li>
					</ul>
						
					<div class="membership_btn mt50">
						<div class="btn_centerwrap">
							<button class="btn btn-custom btn-dark h50" type="submit">
								<span th:text="#{button.next}" th:remove="tag"></span>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div><!-- section wrap	 -->
		<script type="text/javascript" th:inline="javascript">
			/*<![CDATA[*/
				var headers = { /*[[ ${_csrf.headerName} ]] : [[ ${_csrf.token} ]]*/ };

            	var checkFlag = false;

				$(function() {
					$('input[name=phoneAuthentication]').on('click init-post-format', function() {
						$('#form-auth-email').toggle(!$('#demo-form-radio').prop('checked'));
			        	$('#form-auth-phoneNumber').toggle($('#demo-form-radio').prop('checked'));
				    }).trigger('init-post-format');

					$('#request-forgotpwform-email-code').click(function() {

						var params = {
							email: $('#form-group-email #email').val()
						};

						if (checkFlag == true) {
                            UPMusic.alert("발송중입니다.");
							return;
						}

                        checkFlag = true;
			  			UPMusic.ajaxPost(UPMusic._config._api_request_pw_email_authentication_code, headers, params, callback);
			  		})
				});

				function callback(msg) {
				    UPMusic.alert(msg);
				    checkFlag = false;
				}
			/*]]>*/
		</script>
		
		<script type="text/javascript" th:inline="javascript">
			window.name ="Parent_window";
			function fnPopup(){
				window.open('', 'popupChk', 'width=500, height=550, top=100, left=100, fullscreen=no, menubar=no, status=no, toolbar=no, titlebar=yes, location=no, scrollbar=no');
				document.form_chk.action = "https://nice.checkplus.co.kr/CheckPlusSafeModel/checkplus.cb";
				document.form_chk.target = "popupChk";
				document.form_chk.submit();
			}
		</script>
	</div>

</body>
</html>