<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorate="~{layout/default_layout_mobile}">

<head>
</head>

<body>

	<div layout:fragment="content">
		<!-- content -->
		<div id="content">
			<!-- 비밀번호 재설정 -->
			<form id="password-changed-form" action="#" th:action="@{/auth/update_password}" th:object="${forgotpwform}" method="POST" class="form-inline" enctype="utf8" role="form">
				<input th:field="*{email}" type="hidden"/>
				<input th:field="*{phoneAuthentication}" type="hidden"/>
				<input th:field="*{phoneNumber}" th:type="hidden"/>
				<input th:field="*{authenticationCode}" th:type="hidden"/>
				<input th:field="*{authenticated}" th:type="hidden"/>
				<div class="nl_panel">
					<div class="memberJoin_box">
						<div class="pwresetTop">
							<div class="info">
								<p>본인확인 절차가 완료되었습니다<br/>비밀번호를 새로 설정해주세요.</p>
							</div>
						</div>
						<div id="form-group-newPassword" class="form-group" th:classappend="${#fields.hasErrors('newPassword')} ? 'has-error' : ''">
							<label class="control-label"><span th:text="#{model.member.password_new.description1}" th:remove="tag"></span></label>
							<input th:field="*{newPassword}" th:type="password" th:placeholder="#{model.member.password.placeholder}" class="form-control" />
							<p th:if="${#fields.hasErrors('newPassword')}" th:id="error-newPassword" class="help-block" th:errors="*{newPassword}"></p>
						</div>
						<div id="form-group-newPasswordConfirm" class="form-group inputbox" th:classappend="${#fields.hasErrors('newPasswordConfirm')} ? 'has-error' : ''">
							<label class="control-label"><span th:text="#{model.member.password_confirm}" th:remove="tag"></span></label>
							<input th:field="*{newPasswordConfirm}" th:type="password" th:placeholder="#{model.member.password_confirm.placeholder}" class="form-control" />
							<p th:if="${#fields.hasErrors('newPasswordConfirm')}" th:id="error-newPasswordConfirm" class="help-block" th:errors="*{newPasswordConfirm}"></p>
						</div>
					</div><!-- //memberJoin_box -->
				</div>
				<div class="btn_box mt50">
					<button class="btn btn-block btn-lg btn-dark" type="button" onclick="UPMChangePassword.submit();return false;">
						<span th:text="#{button.change.password}" th:remove="tag"></span>
					</button>
				</div>
			</form>
			<!-- //end 비밀번호 재설정 -->
		</div>
		
		<script type="text/javascript" th:inline="javascript">
			/*<![CDATA[*/
				var headers = { /*[[ ${_csrf.headerName} ]] : [[ ${_csrf.token} ]]*/ };
				var UPMChangePassword = {
					_config : {
						loading : false
					},
					submit : function() {
						if (UPMChangePassword._config.loading) return;
						// UPMusic.startLoading();
						UPMChangePassword._config.loading = true;
						document.getElementById("password-changed-form").submit();
					}
				};
				
				//브라우저 사이즈에따른 div높이조절
				$(document).ready(function(){
					$(".memberJoin_box").height($(window).height()-144);
				});
			/*]]>*/
		</script>
		
		<div th:if="${passwordChangeCompleted != null}">
			<script type="text/javascript" th:inline="javascript">
				/*<![CDATA[*/
				var email = /*[[ ${forgotpwform.email} ]]*/;
				var password = /*[[ ${forgotpwform.newPassword} ]]*/;
				$(function() {
					UPMusicCommon.changedPassword(email, password);
				});
				/*]]>*/
			</script>
		</div>
	</div>

</body>
</html>