<div th:each="comment : ${comments}" th:id="'list-comment-' + ${comment.id}" class="comment_list">
	<div class="comment_profile">
		<a th:href="@{${comment.member.getUrl()}}">
			<img th:src="@{${comment.member.getProfileImageUrl()}}" width="60" title="profileimage"/>
		</a>
	</div>
	<div class="comment_content">
		<h3 class="comment_id" th:text="${comment.member.nick}"></h3>
		<p class="comment_memo" th:text="${comment.content}" th:id="'list-comment-' + ${comment.id} + '-content'"></p>
	</div>
	<div class="comment_day_wrap">
		<p class="comment_day" th:text="${comment.formattedTime()}"></p>
		<ul th:if="${currentUserId} == ${comment.member.id}" th:id="'list-comment-' + ${comment.id} + '-buttons'">
			<li>
				<a id="edit-list-comment" th:onclick="'UPMCommentList.editComment(' + ${comment.id} + ');'">
					<span th:text="#{button.modify}" th:remove="tag"></span>
				</a>
			</li>
			<li>
				<a id="delete-list-comment" th:onclick="'UPMCommentList.deleteComment(' + ${comment.id} + ');'">
					<span th:text="#{button.delete}" th:remove="tag"></span>
				</a>
			</li>
		</ul>
	</div>
</div>
