<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout_mobile}">

<head>
</head>

<body>

	<div layout:fragment="content">
		<div id="content">
			<!-- 비디오 -->
			<div class="tab-content">
				<div class="tab-pane fade active in" id="video-2">
					<!-- 뮤직비디오 -->
					<div class="nl_panel">
						<div class="ct_title ofh">
							<h2 class="content_title" th:text="#{common.video.mv}"></h2>
						</div>
					</div>
					<div id="mv-video-fragment" class="videoListType_02">
						<dl class="item-list">
							<dd th:each="video, iter : ${videos}">
								<div class="video" th:onclick="@{${'UPMusic.goto(&quot;' + video.getUrl() + '&quot;, event)'}}"><img th:src="@{${video.getThumbnailUrl()}}" alt=""/><span class="time" th:text="${video.formattedDuration()}"></span></div>
								<div class="info">
									<p class="subject clamp1"><a th:href="@{${video.getUrl()}}"><span th:text="${video.subject}" th:remove="tag"></span></a></p>
									<p class="atist clamp1"><a th:href="@{${video.getArtistUrl()}}"><span th:text="${video.getArtistNick()}" th:remove="tag"></span></a></p>
									<p class="date" th:text="${video.formattedTime()}"></p>
								</div>
							</dd>
						</dl>
					</div>
					<div th:if="${videos != null and totalPages gt pageNo + 1}" id="list-more-button" class="showmore_wrap" th:onclick="@{${'UPMusic.appendPage(&quot;mv-video-fragment&quot;, &quot;/component/video/mv&quot;, ' + (pageNo + 1) + ', ' + totalPages + ');'}}">
						<p>SHOW MORE <i><img th:src="@{/img/show_ar.png}" alt="" /></i></p>
					</div>
					<!-- //end 뮤직비디오 -->
				</div>
				
			</div>
			<!-- //end tab-content -->
			<!-- //end 비디오 -->
			
		</div>
		
	</div>

</body>
</html>