<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorate="~{layout/default_layout}">

<head>
</head>

<body>

	<div layout:fragment="content">
		<div class="subpage_wrap section">
			<h2 class="page-title" th:text="#{nav.music.store}"></h2>
			<p class="content_title2" th:text="#{common.request.music}"></p>
			<form id="create-request" action="#" th:action="@{/music/store/request}" th:object="${requestform}" method="POST" class="form-request" role="form">
				<div class="membership_wrap">
					<ul>
						<li>
							<div class="inputbox">
								<label class="input_title" th:text="#{model.member.nick}"></label>
								<input type="text" th:value="${requestform.getMember().getNick()}" class="form-control" onkeypress="return event.keyCode != 13;" readonly>
							</div>
						</li>
						<li>
							<div class="inputbox">
								<label class="input_title" th:text="#{model.member.email}"></label>
								<input type="text" th:value="${requestform.getMember().getEmail()}" class="form-control" onkeypress="return event.keyCode != 13;" readonly>
							</div>
						</li>
						<li>
							<div id="form-group-price" class="inputbox" th:classappend="${#fields.hasErrors('price')} ? 'has-error' : ''">
								<label class="input_title" th:text="#{model.request.price}"></label>
								<input th:field="*{price}" th:type="number" th:placeholder="#{model.request.price.placeholder}" onkeypress="return event.keyCode != 13;" class="form-control"/>
								<p th:if="${#fields.hasErrors('price')}" th:id="error-price" class="help-block" th:errors="*{price}"></p>
							</div>
							<div class="checkbox">
								<input id="demo-form-inline-checkbox" name="discussion" value="1" class="checkbox-checked" type="checkbox">
								<label for="demo-form-inline-checkbox"><span class="checkbox-custom"></span> <span th:text="#{model.request.price.discussion}" th:remove="tag"></span></label>
							</div>
						</li>
						<li>
							<div class="inputbox">
								<label class="input_title db" th:text="#{model.member.phoneNumber}"></label>
								<input type="text" th:value="${requestform.getMember().getPhoneNumber()}" class="form-control" onkeypress="return event.keyCode != 13;" readonly>
							</div>
						</li>
					</ul>
				</div>
				<div class="inputbox mb20">
				    <div class="form-group" th:classappend="${#fields.hasErrors('description')} ? 'has-error' : ''">
				    	<label class="input_title" th:text="#{model.request.description}"></label>
						<textarea class="form-control masage_input" th:field="*{description}" th:placeholder="#{model.request.description.placeholder}" rows="3"></textarea>
						<p th:if="${#fields.hasErrors('description')}" th:id="error-description" class="help-block" th:errors="*{description}"></p>
					</div>
				</div>
				
				<div class="membership_btn mt50">
					<div class="btn_centerwrap btn_centerwrap2">
						<button class="btn btn-custom btn-dark h50" onclick="UPMusic.startLoading();UPMCreateRequest.submit();return false;">
							<span th:text="#{button.registration}" th:remove="tag"></span>
						</button>
						<button class="btn btn-custom2 h50" th:onclick="@{${'UPMusic.goto(&quot;/music/store#store-request&quot;);return false;'}}">
							<span th:text="#{button.cancel}" th:remove="tag"></span>
						</button>
					</div>
				</div>
			</form>
		</div>
		<script type="text/javascript" th:inline="javascript">
			var UPMCreateRequest = {
				_config : {
					loading : false
				},
				submit : function() {
					if (UPMCreateRequest._config.loading) return;
					UPMCreateRequest._config.loading = true;
					document.getElementById("create-request").submit();
				}
			};
		</script>
	</div>

</body>
</html>