<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorate="~{layout/default_layout_mobile}">

<head>
</head>

<body>
	<div layout:fragment="content">
		<div id="content">
			<!-- 비밀번호 찾기 -->
			<div class="nl_panel">
				<ul class="nav nav-tabs tabType01">
					<li th:classappend="${forgotpwform.phoneAuthentication} ? 'active' : ''"><a>휴대폰으로 인증</a></li>
					<li th:classappend="${forgotpwform.phoneAuthentication} ? '' : 'active'"><a>이메일로 인증</a></li>
				</ul>
			</div>
			<div class="tab-content">
				<div id="pw-find-1" class="tab-pane" th:classappend="${forgotpwform.phoneAuthentication} ? 'active' : ''">
					<form action="#" th:action="@{/auth/forgot_password}" th:object="${forgotpwform}" method="POST" class="form-inline" enctype="utf8" role="form">
						<input type="hidden" name="phoneAuthentication" value="1">
						<div class="nl_panel">
							<div class="memberJoin_box">				
								<div class="form-group" th:classappend="${#fields.hasErrors('email')} ? 'has-error' : ''">
									<label class="control-label"><span th:text="#{model.member.id}" th:remove="tag"></span></label>
									<input th:type="email" th:field="*{email}" th:placeholder="#{model.member.id.placeholder}" class="form-control" />
									<p th:if="${#fields.hasErrors('email')}" th:id="error-upw" class="help-block" th:errors="*{email}"></p>
								</div>
								<div class="form-group" th:classappend="${#fields.hasErrors('phoneNumber')} ? 'has-error' : ''">
									<label class="control-label"><span th:text="#{button.cellphone.authentication}" th:remove="tag"></span></label>
									<button class="btn btn-gray btn-block" type="button" onclick="fnPopup();"><span th:text="#{button.cellphone.authentication}" th:remove="tag"></span></button>
									<p th:if="${#fields.hasErrors('phoneNumber')}" th:id="errorPhoneNumber" class="help-block" th:errors="*{phoneNumber}"></p>
									<p th:unless="${#fields.hasErrors('phoneNumber')}" th:id="errorPhoneNumber" class="help-block" style="display: none;"></p>
									<input type="hidden" th:field="*{phoneNumber}" />
									<input type="hidden" id="birthday" name="birthday" />
									<input type="hidden" id="genderNo" name="genderNo" />
									<p th:if="${!#fields.hasErrors('phoneNumber') and forgotpwform.phoneNumber != null}" id="completePhoneNumberAuthentication" class="help-block-blue" th:text="#{common.complete.phone_authentification}"></p>
									<p th:unless="${!#fields.hasErrors('phoneNumber') and forgotpwform.phoneNumber != null}" id="completePhoneNumberAuthentication" class="help-block-blue" style="display: none;" th:text="#{common.complete.phone_authentification}"></p>
								</div>
							</div><!-- //memberJoin_box -->
						</div>
						<div class="btn_box">
							<button class="btn btn-block btn-lg btn-dark" type="submit">
								<span th:text="#{button.next}" th:remove="tag"></span>
							</button>
						</div>
					</form>
					<!-- 본인인증 서비스 팝업을 호출하기 위해서는 다음과 같은 form이 필요합니다. -->
					<form name="form_chk" method="post">
						<input type="hidden" name="m" value="checkplusSerivce">				<!-- 필수 데이타로, 누락하시면 안됩니다. -->
						<input type="hidden" name="EncodeData" th:value="${sEncData}">		<!-- 위에서 업체정보를 암호화 한 데이타입니다. -->
					</form>
				</div>						
				<div id="pw-find-2" class="tab-pane" th:classappend="${forgotpwform.phoneAuthentication} ? '' : 'active'">
					<form action="#" th:action="@{/auth/forgot_password}" th:object="${forgotpwform}" method="POST" class="form-inline" enctype="utf8" role="form">
						<input type="hidden" name="phoneAuthentication" value="0">
						<div class="nl_panel">
							<div class="memberJoin_box">				
								<div id="form-group-email" class="form-group" th:classappend="${#fields.hasErrors('email')} ? 'has-error' : ''">
									<label class="control-label"><span th:text="#{model.member.id}" th:remove="tag"></span></label>
									<div class="input-group mar-btm">
										<input th:type="email" th:field="*{email}" th:placeholder="#{model.member.id.placeholder}" class="form-control" />
										<span class="input-group-btn">
											<button id="request-forgotpwform-email-code" class="btn btn-blue" type="button"><span th:text="#{button.authentication}" th:remove="tag"></span></button>
										</span>
									</div>
									<p th:if="${#fields.hasErrors('email')}" th:id="error-upw" class="help-block" th:errors="*{email}"></p>
								</div>
								<div class="form-group">
									<label class="control-label"><span th:text="#{model.member.authenticationCode.label}" th:remove="tag"></span></label>	
									<input th:field="*{authenticationCode}" th:type="text" th:placeholder="#{model.member.authenticationCode.placeholder}" class="form-control" />
									<p th:if="${#fields.hasErrors('authenticationCode')}" th:id="error-authenticationCode" class="help-block" th:errors="*{authenticationCode}"></p>
								</div>
							</div><!-- //memberJoin_box -->
						</div>
						<div class="btn_box">
							<button class="btn btn-block btn-lg btn-dark" type="submit">
								<span th:text="#{button.next}" th:remove="tag"></span>
							</button>
						</div>
					</form>
				</div>
			</div><!-- //end tab-content -->
			
			<!-- //end 비밀번호 찾기 -->
		</div>

		<script type="text/javascript" th:inline="javascript">
			/*<![CDATA[*/
				var headers = { /*[[ ${_csrf.headerName} ]] : [[ ${_csrf.token} ]]*/ };
				$(function() {
					$('input[name=phoneAuthentication]').on('click init-post-format', function() {
						$('#form-auth-email').toggle(!$('#demo-form-radio').prop('checked'));
			        	$('#form-auth-phoneNumber').toggle($('#demo-form-radio').prop('checked'));
				    }).trigger('init-post-format');
					
					$('#request-forgotpwform-email-code').click(function() {
						var params = {
							email: $('#form-group-email #email').val()
						};
			  			UPMusic.ajaxPost(UPMusic._config._api_request_pw_email_authentication_code, headers, params, UPMusic.checkCallback);
			  		});
				});
				//브라우저 사이즈에따른 div높이조절
				$(document).ready(function(){
					$(".memberJoin_box").height($(window).height()-213);
				});
			/*]]>*/
		</script>
		
		<script type="text/javascript" th:inline="javascript">
			window.name ="Parent_window";
			function fnPopup(){
				window.open('', 'popupChk', 'width=500, height=550, top=100, left=100, fullscreen=no, menubar=no, status=no, toolbar=no, titlebar=yes, location=no, scrollbar=no');
				document.form_chk.action = "https://nice.checkplus.co.kr/CheckPlusSafeModel/checkplus.cb";
				document.form_chk.target = "popupChk";
				document.form_chk.submit();
			}
		</script>
	</div>

</body>
</html>