<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorate="~{layout/default_layout}">

<head>
</head>

<body>

	<div layout:fragment="content">
		<div class="subpage_wrap section">
			<h2 class="page-title"><span th:text="#{model.member.password_new}" th:remove="tag"></span></h2>
			<p class="content_title2"><span th:text="#{model.member.password_new.description1}" th:remove="tag"></span> <span th:text="#{model.member.password_new.description2}"></span></p>
			<form action="#" th:action="@{/auth/update_password}" th:object="${forgotpwform}" method="POST" class="membership_wrap" enctype="utf8" role="form">
				<input th:field="*{email}" type="hidden"/>
				<input th:field="*{phoneAuthentication}" type="hidden"/>
				<input th:field="*{phoneNumber}" th:type="hidden"/>
				<input th:field="*{authenticationCode}" th:type="hidden"/>
				<input th:field="*{authenticated}" th:type="hidden"/>
				
				<ul>
					<li>
						<div class="inputbox">
							<label class="input_title" th:text="#{model.member.id}"></label>
							<p class="input_disabled" th:text="${forgotpwform.email}"></p>
						</div>
					</li>
					<li></li>
					<li>
						<div id="form-group-newPassword" class="form-group inputbox" th:classappend="${#fields.hasErrors('newPassword')} ? 'has-error' : ''">
							<label class="input_title"><span th:text="#{model.member.password_new.description1}" th:remove="tag"></span></label>
							<input th:field="*{newPassword}" th:type="password" th:placeholder="#{model.member.password.placeholder}" class="form-control" />
							<p th:if="${#fields.hasErrors('newPassword')}" th:id="error-newPassword" class="help-block" th:errors="*{newPassword}"></p>
						</div>
					</li>
					<li>
						<div id="form-group-newPasswordConfirm" class="form-group inputbox" th:classappend="${#fields.hasErrors('newPasswordConfirm')} ? 'has-error' : ''">
							<label class="input_title"><span th:text="#{model.member.password_confirm}" th:remove="tag"></span></label>
							<input th:field="*{newPasswordConfirm}" th:type="password" th:placeholder="#{model.member.password_confirm.placeholder}" class="form-control" />
							<p th:if="${#fields.hasErrors('newPasswordConfirm')}" th:id="error-newPasswordConfirm" class="help-block" th:errors="*{newPasswordConfirm}"></p>
						</div>
					</li>
				</ul>
				<div class="membership_btn mt50">
					<div class="btn_centerwrap">
						<button class="btn btn-custom btn-dark h50" type="submit">
							<span th:text="#{button.change.password}" th:remove="tag"></span>
						</button>
					</div>
				</div>
			</form>
		</div><!-- section wrap	 -->
	</div>

</body>
</html>